.stack-array {
    width: '30px';
    height: '30px';
    background: '#a3fc9d';
    border-radius: '5px';
    margin: '10px';
    text-align: 'center';
}

.stack-buttons {
    margin: '20px';
    background: '#bbfdd8';
    width: '200px';
    border-radius: '5px';
    padding: '10px';
}

.stack-output {
    color: '#e84917';
    font-size: '20px';
    margin: '20px';
}