
.taskContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    }
  
    .page_title{
      text-align: center;
      color: cornflowerblue;
      font-weight: lighter;
      font-style: oblique;
    }
  
  
  
   h1, h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  
  
  ul {
    display: flex;
    justify-content: center;
  }
  
  li {
    list-style: none;
    margin: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  /* a:active, a:focus{
    color: yellow;
  } */
  
  a.active {
    color: yellow;
  }
  

  .taskStyle {
    position: relative;
    padding: 2rem;
    margin: 0, auto;
    height: 100px;
    margin: 2rem;
    border-radius: 30%;
    background-color: blue;
    border: 1px solid;
  }

  .taskStyle.bubble{
    background-color: rgb(0, 255, 208);
  }
  .taskStyle.stack{
    background-color: rgb(255, 140, 0);
  }
  .taskStyle.queue{
    background-color: rgb(255, 0, 0);
  }
  
.checker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 50px;
    background-color: #bbdcfd;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
}
.buttons1 {
    margin: 50px;
    background-color: #fde0bb;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
}

.output1 {
    color: #e84917;
    font-size: 20px;
    margin: 20px;
}
.output2 {
    color: #1741e8;
    font-size: 20px;
    margin: 20px;
}

  .search_style {
    text-align: center;
  }

  .search_style input[type=search] {
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem;
    width: 150px;
    
  }

  .queueContainer, .stackContainer {
        width: 400px;
        height: 60px;
        font-size: 20px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
  }

  .queueItems, .stackItems {
        width: 30px;
        height: 30px;
        background: #5c5e5c;
        border-radius: 5px;
        margin: 10px 5%;
        padding: 5px 20px;
        text-align: center;  
  }


